.review-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.content-container {
  display: flex;
  flex-direction: row;
}
.desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.review-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 50px;
  font-weight: bold;
}
.review-name {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
}
.review-company {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
.change-btn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}
